.header {
    position: fixed;
    top: 0px;
    position: fixed;
    overflow: hidden;
    background-color: gray;
    padding: 10px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.header a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 35px;
    line-height: 35px;
    border-radius: 4px;
    display: block;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.options {
    float: center;
}

.info {
    background-color: white;
    padding: 10px;
    text-align: center;
    
