* {
    box-sizing: border-box;
    font family: georgia;
}
html, body {
    margin: 0px;
    padding: 0;
}

.main-header {
    background-image: ulr("image/header.jpg");
    background-size: cover;
    padding-bottem: 10px;
}

.nav ul {
    margin: 0;
}
    
.nav li {
    display: inline;
}

.nav a {
    padding: .5em;
    color: black;
    text-decoration: none;
}
