.header {
    top: 0px;
    position: fixed;
    background-color: gray;
    padding: 10px;
    text-align: right;
}

.logo {
    float: right;
}

.options {
    display: inline-block;
    margin: 20px;
    color: black;
    padding: 30px;
    text-decoration: none;
    font-size: 35px;
    line-height: 35px;
    border-radius: 4px;
    position: fixed;
    
}

.options a.active {
    background-color: dodgerblue;
    color: white;
}

.options a:hover {
    background-color: #ddd;
    color: black;
}

.info {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.title {
    font-size: 24px;
}

.homepage {
    font-size: 18px;
    
