.header {
    position: fixed;
    top: 0px;
    position: fixed;
    overflow: hidden;
    background-color: #A3A3A3;
    padding: 10px;
}

.logo {
  font-size: 100px;
  font-weight: bold;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 35px;
  line-height: 35px;
  border-radius: 4px;
   display: block;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header a:hover {
  background-color: #ddd;
  color: black;
  }

.center {
  float: center;
}
