
.options {
    float: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-5%, -50%);
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 35px;
    line-height: 35px;
    border-radius: 4px;
    background-color: gray;
    
}

.options a.active {
    background-color: dodgerblue;
    color: white;
}

.options a:hover {
    background-color: gray;
    color: black;
}

.info {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.title {
    font-size: 24px;
}

.homepage {
    font-size: 18px;
    padding: 25px;
}
