.header {
    position: fixed;
    top: 0px;
    position: fixed;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.logo {
  font-size: 100px;
  font-weight: bold;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 100px;
  line-height: 100px;
  border-radius: 4px;
   display: block;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header a:hover {
  background-color: #ddd;
  color: black;
  }

.right {
  float: right;
}
