.main-nav {
    height: 80px;
    width: 100%;
    background: lavender;

}

.logo {
    height: 80px;
    width: auto;
}

.main-nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.main-nav ul li { 
    list-style: none;
    display: inline-block;
    margin-top: 8;
    line-height: 80px;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.main-nav h1 {
    font-size: medium;
    text-align: center;
}

.main-nav ul li a.active{
    background-color: blueviolet;
}

.main-nav ul li a.hover{
    background-color: gray;
}
