.main-nav {
    height: 80px;
    width: 100%;
    background: lavender;

}

.logo {
    height: 80px;
    width: auto;
}

.main-nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 0%;
}



.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.main-nav h1 {
    font-size: medium;
    text-align: center;
}